.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--badges);
}

.container {
  padding: 0 120px;
  background-color: var(--badges);
  border-bottom: 4px solid var(--white);
}
.menu {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}
.menu > * {
  padding: 25px 0;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.25;
}
.active {
  color: var(--button);
}