@import "@fontsource-variable/manrope";
@import "@fontsource-variable/inter";
:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #1254f3;
  --button-hover: #0b44cd;
}
html,
body {
  height: 100%;
  font-family: "Manrope Variable", Manrope, "Inter Variable", Inter, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: var(--main);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}
button {
  background-color: var(--button);
  border: none;
  border-radius: 12px;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

li {
  list-style: none;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--button-hover);
}
.container {
  padding: 0 120px;
}
